/* Animatsiya nomi: moveElement */
/* Muddati: 3 sekund */
/* Timing function: ease-in-out */
/* Boshlash kechikishi: 0 sekund */
/* Takrorlanishi: infinite (doimiy) */
/* Yo'nalishi: normal */
/* Tugaganida holat: forwards */
.element {
    animation: moveElement 3s ease-in-out 0s infinite normal forwards;
}

@keyframes moveElement {
    0% { transform: translateX(0px) translateY(0px); }
    25% { transform: translateX(100px) translateY(0px); }
    50% { transform: translateX(100px) translateY(100px); }
    75% { transform: translateX(0px) translateY(100px); }
    100% { transform: translateX(0px) translateY(0px); }
}


/*  bup sub toq va joft elementlar  */ 